@use "sass:color";
@use "./variables.scss" as variables;
@use "./shared/button.module.scss" as button;
@use "./shared/input.module.scss" as input;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: variables.$input-text-color;
  background-color: variables.$background-color;
}

h1,
h2,
h3 {
  color: variables.$primary-color;
  margin: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: variables.$primary-color;
  transition: color 0.3s ease;

  &:hover {
    color: variables.$secondary-color;
  }
}

button {
  font-family: inherit;
}
