@use "../../styles/variables.scss" as vars;

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: vars.$background-color;

  .header {
    text-align: center;
    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      color: vars.$primary-color;
    }
    p {
      font-size: 1rem;
      color: vars.$primary-color;
    }
  }

  .calendarContainer {
    margin-top: 2rem;
    .react-calendar {
      background-color: vars.$gray-light;
      border: 1px solid vars.$gray-medium;
      border-radius: 8px;
      padding: 1rem;
      width: 100%;
      max-width: 400px;

      .react-calendar__tile {
        border-radius: 4px;
        transition: background-color 0.3s ease;
        &--now {
          background-color: vars.$secondary-color;
          color: white;
          font-weight: bold;
        }
        &--active {
          background-color: vars.$primary-color;
          color: white;
        }
      }
    }
  }

  .greenTile {
    background-color: #5ee162 !important;
    color: black;
  }
  .yellowTile {
    background-color: #ffc107 !important;
    color: black;
  }
  .redTile {
    background-color: #f44336 !important;
    color: white;
  }

  .tileContent {
    color: black;
    text-align: center;
    font-size: 0.8rem;
  }

  .error {
    color: vars.$danger-color;
    margin-top: 1rem;
  }
}
