@use "../../styles/variables.scss" as vars;

.dashboard {
  text-align: center;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin: 10px 0;
  }

  .react-calendar {
    margin: 20px auto;
    max-width: 400px;
  }

  .react-calendar__tile--active {
    background: #4caf50;
    color: white;
  }

  .react-calendar__tile--disabled {
    background: #f44336;
    color: white;
  }
}
